/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

/* Set global variables for colors */
:root {
    --saffron: #F9A37B;
    --white: #FAFAFA;
    --green: #1A4223;
    --navy: #06038D;
    --black: #191919;
}

/* Overrides the default set by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Laila', Arial, sans-serif;
    color: var(--black);
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
}

/* Header */
header {
    min-height: 5vh;
    background-color: var(--saffron);
    padding: 0.5vh;
    text-align: center;
    border-radius: 0 0 2vw 2vw;
}

/* Main section */
main {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    color: var(--white);
}

/* Menu container */
.box-container {
    padding: 5vh;
    height: auto;
    width: 80vw;
    background-color: var(--navy);
    text-align: center;
    border-radius: 2vh;
}

.result-container {
    display: none;
    padding: 5vh;
    height: auto;
    width: 80vw;
    background-color: var(--navy);
    text-align: center;
    border-radius: 2vh;
}

/* Main page */

#welcome h2,
#rules h2 {
    margin-bottom: 2vh;
}

#welcome p,
#rules p {
    margin-bottom: 2vh;
}

#rules ul {
    text-align: left;
}

#rules li {
    text-align: left;
    margin-bottom: 1vh;
}

/* Button style */
#answer-choice button {
    background-color: var(--white);
    color: var(--black);
    padding: 1vh;
    border-radius: 3vh;
    border: var(--black) solid 2px;
    font-size: 2rem;
    font-family: 'Laila', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    min-width: 20vw;
    width: 50vw;
    margin-bottom: 1vh;
}

.wlc-buttons a,
.rules-buttons a,
.result-buttons a {
    background-color: var(--white);
    color: var(--black);
    padding: 1vh;
    border-radius: 3vh;
    border: var(--black) solid 2px;
    font-size: 1rem;
    font-family: 'Laila', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 50vw;
    margin-bottom: 1vh;
    text-decoration: none;
}

.wlc-buttons,
.rules-buttons,
.result-buttons,
#answer-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-question-timer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
}

.game-question-timer h2 {
    font-size: 1rem;
}

.game-question-timer a,
.next-button a,
#game-restart {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
}

.question h3 {
    margin-bottom: 2vh;
}

.question img {
    width: 200px;
    height: 150px;
    margin-bottom: 2vh;
}

.display-result h2,
.display-result h3 {
    margin-bottom: 2vh;
}

footer {
    background-color: #1A4223;
    color: var(--white);
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 0.5vh;
    border-radius: 2vw 2vw 0 0;
}